Question Prediction Whether it belongs to History Course or Science using Linear Support Vector Machine}

In [69]:
#importing all the necessary and required liberaries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer # it is used to extract features from text
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

Data Pre Processing And Loading Begins From here.

In [70]:
#importing PyPDF2 library to convert the pdf file into a more readable format which is a csv file in this case

import PyPDF2
data=PyPDF2.PdfFileReader("Ancient 1-merged.pdf")
str=" "
for i in range(50):
    str+=data.getPage(i).extractText()    

with open("History.csv","w") as f:
    f.write(str)

In [71]:
#loading the file from merged history question files into a pandas dataframe History_data
history_data=pd.read_csv("History.csv",error_bad_lines=False)

b'Skipping line 103: expected 1 fields, saw 2\nSkipping line 119: expected 1 fields, saw 2\nSkipping line 203: expected 1 fields, saw 2\nSkipping line 207: expected 1 fields, saw 2\nSkipping line 260: expected 1 fields, saw 3\nSkipping line 281: expected 1 fields, saw 3\nSkipping line 300: expected 1 fields, saw 2\nSkipping line 326: expected 1 fields, saw 3\nSkipping line 338: expected 1 fields, saw 2\nSkipping line 344: expected 1 fields, saw 2\nSkipping line 365: expected 1 fields, saw 2\nSkipping line 376: expected 1 fields, saw 2\nSkipping line 422: expected 1 fields, saw 2\nSkipping line 424: expected 1 fields, saw 2\nSkipping line 446: expected 1 fields, saw 2\nSkipping line 570: expected 1 fields, saw 2\nSkipping line 627: expected 1 fields, saw 2\nSkipping line 704: expected 1 fields, saw 2\nSkipping line 732: expected 1 fields, saw 2\nSkipping line 738: expected 1 fields, saw 2\nSkipping line 741: expected 1 fields, saw 2\nSkipping line 755: expected 1 fields, saw 2\nSkipping line 757: expected 1 fields, saw 2\nSkipping line 794: expected 1 fields, saw 3\nSkipping line 834: expected 1 fields, saw 2\nSkipping line 837: expected 1 fields, saw 3\nSkipping line 873: expected 1 fields, saw 2\nSkipping line 879: expected 1 fields, saw 2\nSkipping line 899: expected 1 fields, saw 2\nSkipping line 929: expected 1 fields, saw 2\nSkipping line 974: expected 1 fields, saw 2\nSkipping line 990: expected 1 fields, saw 2\nSkipping line 1022: expected 1 fields, saw 2\nSkipping line 1027: expected 1 fields, saw 2\nSkipping line 1039: expected 1 fields, saw 2\nSkipping line 1051: expected 1 fields, saw 2\nSkipping line 1130: expected 1 fields, saw 2\nSkipping line 1154: expected 1 fields, saw 2\nSkipping line 1196: expected 1 fields, saw 2\nSkipping line 1235: expected 1 fields, saw 2\nSkipping line 1238: expected 1 fields, saw 2\nSkipping line 1302: expected 1 fields, saw 2\nSkipping line 1304: expected 1 fields, saw 2\nSkipping line 1313: expected 1 fields, saw 2\nSkipping line 1360: expected 1 fields, saw 2\nSkipping line 1362: expected 1 fields, saw 2\nSkipping line 1364: expected 1 fields, saw 2\nSkipping line 1385: expected 1 fields, saw 2\nSkipping line 1389: expected 1 fields, saw 2\nSkipping line 1418: expected 1 fields, saw 2\nSkipping line 1423: expected 1 fields, saw 3\nSkipping line 1441: expected 1 fields, saw 2\nSkipping line 1464: expected 1 fields, saw 2\nSkipping line 1465: expected 1 fields, saw 2\nSkipping line 1467: expected 1 fields, saw 2\nSkipping line 1482: expected 1 fields, saw 2\nSkipping line 1492: expected 1 fields, saw 2\nSkipping line 1588: expected 1 fields, saw 2\nSkipping line 1669: expected 1 fields, saw 2\nSkipping line 1803: expected 1 fields, saw 2\nSkipping line 1805: expected 1 fields, saw 2\nSkipping line 1845: expected 1 fields, saw 2\nSkipping line 1851: expected 1 fields, saw 2\nSkipping line 1890: expected 1 fields, saw 2\nSkipping line 1893: expected 1 fields, saw 2\nSkipping line 1898: expected 1 fields, saw 2\nSkipping line 1918: expected 1 fields, saw 2\nSkipping line 1924: expected 1 fields, saw 2\nSkipping line 1963: expected 1 fields, saw 2\nSkipping line 1985: expected 1 fields, saw 2\nSkipping line 2003: expected 1 fields, saw 2\nSkipping line 2008: expected 1 fields, saw 2\nSkipping line 2025: expected 1 fields, saw 2\nSkipping line 2051: expected 1 fields, saw 2\nSkipping line 2056: expected 1 fields, saw 2\nSkipping line 2061: expected 1 fields, saw 2\nSkipping line 2083: expected 1 fields, saw 3\nSkipping line 2086: expected 1 fields, saw 2\nSkipping line 2088: expected 1 fields, saw 2\nSkipping line 2191: expected 1 fields, saw 2\nSkipping line 2262: expected 1 fields, saw 2\nSkipping line 2319: expected 1 fields, saw 2\nSkipping line 2411: expected 1 fields, saw 2\nSkipping line 2442: expected 1 fields, saw 2\nSkipping line 2468: expected 1 fields, saw 2\nSkipping line 2506: expected 1 fields, saw 2\nSkipping line 2511: expected 1 fields, saw 3\n'

In [72]:
#Science Data is read from the qna scte-1-merged.text and convert into an pandas data frame known as Science_data
science_data=pd.read_csv("qna-scte-1-merged.txt",error_bad_lines=False)
science_data['Label']=1
science_data.columns=["Text","Label"]
science_data.head()

b'Skipping line 121: expected 1 fields, saw 2\nSkipping line 146: expected 1 fields, saw 3\nSkipping line 265: expected 1 fields, saw 3\nSkipping line 303: expected 1 fields, saw 2\nSkipping line 308: expected 1 fields, saw 2\nSkipping line 343: expected 1 fields, saw 2\nSkipping line 405: expected 1 fields, saw 2\nSkipping line 545: expected 1 fields, saw 2\nSkipping line 606: expected 1 fields, saw 2\n'

                                                Text  Label
0  Question 1.In which decade was the American In...      1
1                                      A.      1850s      1
2                                      B.      1880s      1
3                                       C.     1930s      1
4                                        D.    1950s      1

In [73]:
#now labeling the data of out history data set
history_data["Label"]=0
history_data.columns=["Text","Label"]
history_data.head(1126)

                                                   Text  Label
0     Consider the following statements about Indus ...      0
1     1. IVC people worshipped Mother Goddess but no...      0
2                2. There was no social stratification.      0
3     3. Trade was a major activity at the Indus Val...      0
4                                use lapis lazuli as a       0
...                                                 ...    ...
1121         a) Form of martial arts practiced in Assam      0
1122       b) Musical instrument used in Carnatic music      0
1123    c) Style of architecture found in Central India      0
1124                                  d) Form of music       0
1125                      sung by peasants of Rajasthan      0

[1126 rows x 2 columns]

In [74]:
#here we are appending both the datasets History and science together to  feed into our train_test_split model

Final_raw_data=history_data.append(science_data)
Final_raw_data.head(1378)

                                                  Text  Label
0    Consider the following statements about Indus ...      0
1    1. IVC people worshipped Mother Goddess but no...      0
2               2. There was no social stratification.      0
3    3. Trade was a major activity at the Indus Val...      0
4                               use lapis lazuli as a       0
..                                                 ...    ...
247                          D.     Adobe Acrobat file      1
248    Question 45.What was the first ARPANET message?      1
249                                          A.     Io      1
250                                 B.     Hello World      1
251                    D.     Marry had a little lamb.      1

[1378 rows x 2 columns]

Note- I have used label 0 for History Questions and 1 for Science Questions

In [75]:
#now sepearating the data and label from the final raw data frame

X=Final_raw_data["Text"]
Y=Final_raw_data["Label"]
print(X)
print("_"*100)
print(Y)

0      Consider the following statements about Indus ...
1      1. IVC people worshipped Mother Goddess but no...
2                 2. There was no social stratification.
3      3. Trade was a major activity at the Indus Val...
4                                 use lapis lazuli as a
                             ...
247                            D.     Adobe Acrobat file
248      Question 45.What was the first ARPANET message?
249                                            A.     Io
250                                   B.     Hello World
251                      D.     Marry had a little lamb.
Name: Text, Length: 1378, dtype: object
____________________________________________________________________________________________________
0      0
1      0
2      0
3      0
4      0
      ..
247    1
248    1
249    1
250    1
251    1
Name: Label, Length: 1378, dtype: int64

In [76]:
#creating the train test sets to train our model
X_train , X_test , Y_train  , Y_test = train_test_split(X,Y, train_size=0.8 , test_size=0.2, random_state=3)

In [77]:
#transforming the text data into feature vector that can be used as input in SVM model using Tfidefvectorizer

#converting all the text to lower case

feature_extraction = TfidfVectorizer(min_df=1, stop_words='english', lowercase='True')
X_train_features= feature_extraction.fit_transform(X_train)
X_test_features = feature_extraction.transform(X_test)

#converting Y train and y test into integers

Y_train= Y_train.astype('int')
Y_test = Y_test.astype('int')

In [78]:

model = LinearSVC()
model.fit (X_train_features,Y_train)

LinearSVC()

In [79]:
#prediction on training data
prediction_on_training_data = model.predict(X_train_features)

accuracy_on_training_data=accuracy_score(Y_train,prediction_on_training_data)

print("The accuracy on training data is: ",accuracy_on_training_data)

#The accuracy on training data is not that important because the model has alerady seen the training data

The accuracy on training data is:  0.9972776769509982

In [80]:
#prediction on test data
prediction_on_test_data = model.predict(X_test_features)
accuracy_on_test_data = accuracy_score(Y_test,prediction_on_test_data)

print("The accuracy on test data is: ",accuracy_on_test_data)

The accuracy on test data is:  0.9456521739130435

In [81]:
input_question=["Who invented the light bulb"]

input_question_features=feature_extraction.transform(input_question)
prediction=model.predict(input_question_features)
prediction

if prediction==0:
    print("History")
else:
    print("Science")

Science